
/*USER*/
.profile-section {
	width: 100%;
	background-color: #000;
	color: #888787;
	text-align: center;
	font-size: 2.5rem;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}

.profile-wrap {
	width: 1100px;
	margin: 0 auto;
}

.user-info-wrap{
	width: 1025px;
	display: inline-block;
	margin: 50px 0;
}

.user-info-wrap h1 {
	font-size: 5rem;
	color: #fff;
	font-style: normal;
}

.user-info-wrap h2 {
	margin: 0;
	color: #fff;
	font-style: normal;
}

.user-info-wrap p {
	padding: 0 50px;
}

.user-stats {
	margin: 20px auto;
}

.user-stat {
	width: 160px;
	display: inline-block;
}

.user-stat-border {
	border-right: 1px solid #ddd;
}

.user-icons-wrap {
	width: 75px;
}

.profile-avatar-ring {
	width: 210px;
	height: 210px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #ddd;
}
.profile-avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 4px auto
}

.profile-avatar img {
	height: 100%;
}

.profile-upload-btn {
	text-align: center;
	border: 1px solid #FDFC3A;
	width: 270px;
	border-radius: 10px;
	margin: 30px auto 0 auto;
	padding: 5px;
	cursor: pointer;
}

.profile-upload-btn:hover {
	background-color: #FDFC3A;
	color: #000;
}


/*ACTION BAR*/
.user-action-wrap {
	display: inline-block;
	vertical-align: top;
	padding-top: 300px;
}

.user-action {
	border: 1px solid #ddd;
	border-radius: 50%;
	height: 50px;
	line-height: 45px;
	font-size: 3rem;
	width: 50px;
	margin: 28px 0;
	cursor: pointer;
}



/*SCRIPTS*/
.profile-script-section {
	width: 100%;
	background-image: url("/shared/img/lined-bg.png");
	width: 100%;
	color: #000;
	min-height: 700px;
	padding-bottom: 20px;
}


.profile-script-wrap {
	width: 1100px;
	margin: 0 auto;
}

.profile-tabs {
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	margin-bottom: 50px;
}

.profile-tab {
	display: inline-block;
	border-left: 1px solid #000;
	text-align: center;
	line-height: 50px;
	width: 33%;
	font-size: 2rem;
}

.profile-read-btn {
	float: right;
	font-size: 3rem;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	margin-left: 30px;
}









