<div class="modal-cancel-btn forgot-cancel" ng-click="shared.closeModal()">
	<i class="ion-ios-close-outline"></i><span class="font-italic">Never Mind</span>
</div>
<div class="forgot-modal-warp modal-fade">
	<div class="forgot-header">
		<p class="font-italic">Forgot your Password?</p>
		<p class="login-title">No problem!</p>
		<form name="forgotForm" novalidate>
			<div class="form-group" show-errors>
				<input class="form-control" name="forgotEmail" ng-model="forgot.email" placeholder="EMAIL" required>
				<p class="help-block" ng-if="forgotForm.forgotEmail.$error.required">Stuff Required</p>
			</div>
			<div class="shared-btn" ng-click="forgot.forgot(forgot.email)">
				<span pending>SEND</span>
			</div>
		</form>
	</div>

</div>