/*-------------------------------------------------------------- 
***************************************************************

						MAIN

***************************************************************
-------------------------------------------------------------- */


/* = SEARCH BAR
-------------------------------------------------------------- */
.search-bar-wrap {
	background-color: #000;
	width: 100%;
	height: 75px;
}

/* = FEATURED READ
-------------------------------------------------------------- */
.featured-read-section {
	width: 100%;
	min-height: 400px;
	height: auto;
	position: relative;
	overflow: hidden;
}

.featured-read-wrap {
	width: 1100px;
	margin: 0 auto;
}

.featured-read-words {
	font-size: 2.2rem;
	font-weight: 600;
	opacity: 0.35;
}

.featured-read-section .bg-img {
    position:absolute;
    top:50%;
    min-height:100%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
    z-index: -200;
}

.read-btn {
	color: #fff;
	border: 2px solid #FDFC3A;
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
	height: 50px;
	width: 150px;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	font-size: 3rem;
} 

.read-btn i {
	margin-right: 10px;
	color: #FDFC3A;
}

.featured-title {
	color: #fff;
	font-size: 7rem;
	margin-top: 142px;
}

.featured-read-section .user-snap {
	color: #fff;
}

.featured-read-section .user-snap .ion-ios-pricetag-outline {
	color: #FDFC3A;
}

/* = TRENDING SCRIPTS
-------------------------------------------------------------- */
.trending-script-section {
	background-image: url("/shared/img/lined-bg.png");
	width: 100%;
}

.trending-script-wrap {
	width: 1100px;
	height: auto;
	min-height: 600px;
	margin: 0 auto;
}

.treding-top-section {
	margin-bottom: 20px;
}

.trending-script-section h3 {
	font-size: 3rem;
}

.trending-script-section .form-control {
	width: 70px;
	display: inline-block;
	margin-left: 15px;
}

.trend-script-wrap {
	position: relative;
	background-color: #fff;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding: 15px 15px 85px 15px;
}

.trend-script-wrap h4 {
	cursor: pointer;
}

.trend-script-wrap p {
	font-size: 1.7rem;
}

.user-snap {
	line-height: 50px;
	font-size: 2.2rem;
	color: #888787;
}

.user-snap img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}


.user-snap .ion-ios-pricetag-outline {
	font-size: 3rem;
	margin-right: 8px;
	color: #000;
	position: relative;
	top: 3px;
}

.trend-script-wrap .script-action-bar {
	border-top: 1px dotted #888787;
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 100%;
	height: 70px;
}

/* = SPONSOR
-------------------------------------------------------------- */

.sponsor-title {
	position: relative;
	top: 70px;
	color: #A2A2A2;
}

.sponsor-wrap {
	background-color: #CFCFCF;
	width: 100%;
	height: 400px;
}